<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RedLab</title>
	<!-- Standard -->
	<link rel="shortcut icon" href="static/img/ficon.png">
	<!-- Latest Bootstrap min CSS -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
	<!-- Dropdownhover CSS -->
	<link rel="stylesheet" href="static/css/bootstrap-dropdownhover.min.css" type="text/css">
	<!-- latest fonts awesome -->
	<link rel="stylesheet" href="static/font/css/font-awesome.min.css" type="text/css">
	<!-- simple line fonts awesome -->
	<link rel="stylesheet" href="static/simple-line-icon/css/simple-line-icons.css" type="text/css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="static/css/animate.min.css" type="text/css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<!--  baguetteBox -->
	<link rel="stylesheet" href="static/css/baguetteBox.css">
	<!-- Owl Carousel Assets -->
	<link href="static/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="static/owl-carousel/owl.theme.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->


      
</head>
<body>

     

	<!--  Preloader  -->
	<div id="preloader">
		<div id="loading"> </div>
	</div>
	<header>
		<!--  nav  -->
		<nav id="mainNav" class="navbar navbar-inverse navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="#"><img src="static/img/logo.jpg" alt="Napier" width= "40"; heigth = "40"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
					<ul class="nav navbar-nav">
						<li class="dropdown"> <a href="home.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>Home</span></a>
							
						</li>
						<li class="dropdown"> <a href="list.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span> Category</span></a>
							<div class="dropdown-menu dropdownhover-bottom mega-menu" role="menu">
								<div class="col-sm-8 col-md-8">
									<ul>
										<li><strong>Hardware</strong></li>
										<li><a href="#">Hardware term1</a></li>
										<li><a href="#">Hardware term2</a></li>
										<li><a href="#">Hardware term3</a></li>
										<li><a href="#">Hardware term4</a></li>
										<li><a href="#">Hardware term5</a></li>
										<li><a href="#">Hardware term6</a></li>
										<li><a href="#">Hardware term7</a></li>
									</ul>
									<ul>
										<li><strong>Software</strong></li>
										<li><a href="#">Software term1</a></li>
										<li><a href="#">Software term2</a></li>
										<li><a href="#">Software term3</a></li>
										<li><a href="#">Software term4</a></li>
										<li><a href="#">Software term5</a></li>
										<li><a href="#">Software term6</a></li>
										<li><a href="#">Software term7</a></li>
									</ul>
									<ul>
										<li><strong>Application</strong></li>
										<li><a href="#">Application term1</a></li>
										<li><a href="#">Application term2</a></li>
										<li><a href="#">Application term3</a></li>
										<li><a href="#">Application term4</a></li>
										<li><a href="#">Application term5</a></li>
										<li><a href="#">Application term6</a></li>
										<li><a href="#">Application term7</a></li>
									</ul>
									<ul>
										<li><strong>Project</strong></li>
										<li><a href="#">Project term1</a></li>
										<li><a href="#">Project term2</a></li>
										<li><a href="#">Project term3</a></li>
										<li><a href="#">Project term4</a></li>
										<li><a href="#">Project term5</a></li>
										<li><a href="#">Project term6</a></li>
										<li><a href="#">Project term7</a></li>
									</ul>
								</div>
								<div class="col-sm-4 col-md-4"> <img src="static/img/logo.jpg" alt="Napier"> </div>
							</div>
						</li>
						<li> <a href="about" class="dropdown-toggle"><span>About</span></a> </li>
						
						<li> <a href="contact.html"><span>Contact</span></a> </li>
						
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" data-toggle="modal" data-target=".popup1"><img src="static/img/top-icon1.png" alt="top-icon1"> <span>Search</span></a>
						</li>
                                             </ul>
					<!-- /.navbar-collapse -->
				</div>
			</div>
		</nav>
<!-- /nav -->
<!-- search-popup -->
		<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content search-popup">
					<div class="text-center">
						<a href="#" class="close2" data-dismiss="modal" aria-label="Close">x Close</a>
					</div>
					<div class="search-outer">
						<div class="col-md-11"><input type="text" placeholder="Search for..." /></div>
						<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /search-popup -->



<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
			<!-- .home-slider -->
			<div class="carousel-inner">
                <div class="item active" style="background-image: url(static/img/header-1.jpeg);  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Software<br> Software Engineering</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">Software Engineering is the application of engineering to the development of software in a systematic method. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
				</div>
				<div class="item" style="background-image: url(static/img/header-2.jpg);  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Software<br> Software Engineering</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">Software Engineering is the application of engineering to the development of software in a systematic method. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
				</div>
				<div class="item" style="background-image: url(static/img/header-3.jpg);  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Software<br> Software Engineering</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">Software Engineering is the application of engineering to the development of software in a systematic method. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
				</div>


<!--indicators-->
<ol class="carousel-indicators">
<li data-target="#home-slider" data-slide-to="0" class="active"></li>
<li data-target="#home-slider" data-slide-to="1" class=""></li>
<li data-target="#home-slider" data-slide-to="2" class=""></li>
</ol>
<!--/indicators-->
</div>
<!--/.home-slider-->
</div>
</header>



<footer>
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6">
<!--f-weghit-->
<div class="f-weghit">
<img src="static/img/logo.jpg"  alt="Napier">
<p>Introduction about our website.Introduction about our website.Introduction about our website.Introduction about our website.Introduction about our website.Introduction about our website.Introduction about our website.Introduction about our website.</p>
<ul>
<li><i class="icon-location-pin icons" aria-hidden="true"></i><strong>Address of our team.</li>
<li><i class="icon-envelope-letter icons"></i><strong>Email:</strong>Contact@emailaddress.com</li>
<li><i class="icon-call-in icons"></i><strong>Phone Number:</strong>telephone number</li>
</ul>
</div>
<!--/f-weghit-->
</div>
<div class="col-xs-12 col-sm-3 col-md-3">
<!--f-weight2-->
<div class="f-weghit2">
<h4>Information</h4>
<ul>
<li><a href="#">About Us</a></li>
<li><a href="#">dadadada</a></li>
<li><a href="#">dadadada</a></li>
<li><a href="#">dadadadd</a></li>
</ul>
</div>
<--!/f-weghit2-->
</div>
<div class="col-xs-12 col-sm-3 col-md-3">

<!--f-weight2-->
<div class="f-weghit2">
<h4>Customer Service</h4>
<ul>
<li><a href="#">dadadadada</a></li>
<li><a href="#">Help & Contact Us</a></li>
<li><a href="#>hhhhhhh</a></li>
<li><a href="#>jkljjijijijo</a></li>
<li><a href="#">jjijijioee</a></li>
</ul>
</div>
<!/--f-weight2-->
</div>
</div>
</div>
</footer>





	<script src="static/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/bootstrap-dropdownhover.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="static/js/jquery.easing.min.js"></script>
	<script src="static/js/wow.min.js"></script>
	<!--  Custom Theme JavaScript  -->
	<script src="static/js/custom.js"></script>
	<!-- owl carousel -->
	<script src="static/owl-carousel/owl.carousel.js"></script>

</body>

</html>

