<!DOCTYPE html>
<html lang="en" >
    
    <head>
        <meta charset="UTF-8">
            <title>Connect</title>
            
            <style>
                /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
                button {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 100%;
                    line-height: 1;
                    font-family: inherit;
            }
            </style>
            
            <body>
                
                <div class = "connect">
                    <div class ="about_right">
                        <dive class = "about_right_title">
                          <a name="connect information ">connect information</a>
                          </div>
                    <div class = "about_info">...</div>
                    <p> you could connect us by follow
                    <p> online</p>
                    <p> eamill </p>
                    <p> phone </p>
                    </div>
                                
                            </div>
</body>
</html>

            
