<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RedLab</title>
    <!-- Standard -->
    <link rel="shortcut icon" href="static/img/ficon.png">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
    <!-- Dropdownhover CSS -->
    <link rel="stylesheet" href="static/css/bootstrap-dropdownhover.min.css" type="text/css">
    <!-- latest fonts awesome -->
    <link rel="stylesheet" href="static/font/css/font-awesome.min.css" type="text/css">
    <!-- simple line fonts awesome -->
    <link rel="stylesheet" href="static/simple-line-icon/css/simple-line-icons.css" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="static/css/animate.min.css" type="text/css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <!--  baguetteBox -->
    <link rel="stylesheet" href="static/css/baguetteBox.css">
    <!-- Owl Carousel Assets -->
    <link href="static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="static/owl-carousel/owl.theme.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/main.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->


<body class="home4-bg">

  
        

	<!--  Preloader  -->
	<div id="preloader">
		<div id="loading"> </div>
	</div>
	<!--  box-outer  -->
	<div class="box-outer">
		<header class="home4">
			<div class="container">
				<!--  nav  -->
				<nav id="" class="navbar navbar-inverse navbar-default">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						<a class="navbar-brand" href="#"><img src="static/img/logo.jpg" alt="logo"></a>
					</div>


<!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="home.html" role="button" aria-expanded="false"><span><h4>Home<h4></span></a>

                        </li>
                        <li class="dropdown">
                            <a href="list.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span><h4> Category</h4></span></a>
                            <div class="dropdown-menu dropdownhover-bottom mega-menu" role="menu">
                                <div class="col-sm-8 col-md-8">
                                    <ul>
                                        <li><strong>Hardware</strong></li>
                                        <li><a href="hardware.html">Hardware</a></li>
                                        <li><a href="hardware.html">Hardware</a></li>
                                       
                                      
                                    </ul>
                                    <ul>
                                        <li><strong>Software</strong></li>
                                        <li><a href="software.html">software</a></li>
                                        <li><a href="software.html">software</a></li>
                                        
                                       
                                    </ul>
                                    <ul>
                                        <li><strong>Engineering</strong></li>
                                        <li><a href="engineering.html">Enginerring</a></li>
                                        <li><a href="engineering.html">Enginerring</a></li>
                                        
                                    </ul>
                                    <ul>
                                        <li><strong>others</strong></li>
                                        <li><a href="#">Project term1</a></li>
                                        <li><a href="#">Project term2</a></li>
                                 
                                    </ul>
                                </div>
                                <div class="col-sm-4 col-md-4"> <img src="static/img/logo.jpg" alt="Napier"> </div>
                            </div>
                        </li>
                        <li> <a href="about" class="dropdown-toggle"><span><h4>About<h4></span></a> </li>

                        <li> <a href="contact.html"><span><h4>Contact<h4></span></a> </li>

                    </ul>



                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" data-toggle="modal" data-target=".popup1"><img src="static/img/top-icon1.png" alt="top-icon1">
                        </li>
                        <li>
                            <span>Search</span></a>
                        </li>
                        <li> <a href="/login" class="dropdown-toggle"><span>Login</span></a> </li>
                        <li class="dropdown">
                            <a href="login.html" data-toggle="dropdown" role="button" aria-expanded="false"><span><img src="static/img/top-icon2.png"></span></a>
                            <ul class="dropdown-menu dropdownhover-bottom" role="menu">
                                <li><a href="#">Notification</a></li>
                                <li><a href=#">Myfile</a></li>
                                <li><a href="comment.html">Comment</a></li>
                                <li><a href="#">Logout</a></li>
                                <li><a href="#">Sign up</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </nav>
        <!-- /nav -->
        <!-- search-popup -->
        <div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content search-popup">
                    <div class="text-center">
                        <a href="#" class="close2" data-dismiss="modal" aria-label="Close">x Close</a>
                    </div>
                    <div class="search-outer">
                        <div class="col-md-11"><input type="text" placeholder="Search for..." /></div>
                        <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /search-popup -->

</head>
<section class="trending-products">
			<!-- .trending-products -->
			<div class="container">
				<div class="tittle text-center">
					<h3>About RedLab</h3>
					<p>Whether you call it the Internet of Things, machine-to-machine (M2M) communication or pervasive computing, things in the environment are getting smarter, and people need to interactive with them. Redlab is a virtual student laboratory which provides summary information on a range of technology, sets of instructions for getting started, and the result of student projects. The intention is that over time, projects will cluster together into themes and each theme will have its own momentum with new projects building on older ones.</p>
                </div>
</section>
    <script src="static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-dropdownhover.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <!--  Custom Theme JavaScript  -->
    <script src="static/js/custom.js"></script>
    <!-- owl carousel -->
    <script src="static/owl-carousel/owl.carousel.js"></script>
</body>

</html>
